#video-container {
  max-height: 300px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

#video-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.602);
  display: flex;
  align-items: center;
  justify-content: center;
}

#video-cover h1 {
  color: white;
  font-size: 3em;
  z-index: 99;
}

#search-bar-home {
  height: 40px;
  border-radius: 30px;
  border: 2px solid #1fb854;
  max-width: 400px;
  width: 100%;
  outline: none;
  padding-left: 20px;
  font-size: 1em;
  color: white;
  background: transparent;
}

.loadmore-containers {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin: 10px 0;
}

.load-more-btn:hover {
  cursor: pointer;
  background: #149240;
}

.load-more-btn {
  color: white;
  max-width: 100px;
  height: 30px;
  width: 100%;
  background: #1fb854;
  border-radius: 35px;
  border: none;
  outline: none;
}
