/**
*
* FeatureCard
*
*/

.FeatureCard {
  margin: 20px 0 20px;
  border-radius: 10px;
  background: rgb(22, 22, 22);
  color: white;
  min-height: 300px;
  padding: 20px;
}

.featured-image {
  height: 100%;
  border-radius: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.featured-title {
  font-weight: bold;
  font-size: 2em;
}

.fa-star {
  color: gold;
  margin: 2px;
}
