
* {
  margin: 0px;
}
body {
  background: black;
  min-height: 100vh;
}
.container {
  /*   border: 1px dashed grey; */
  width: 90%;
  margin: auto;
}

.content-box{
  border: 1px solid white;

  margin: 10px;
}


