* {
  margin: 0px;
}
body {
  background: black;
  min-height: 100vh;
}
.container {
  /*   border: 1px dashed grey; */
  width: 90%;
  margin: auto;
}

.content-box {
  border: 1px solid white;

  margin: 10px;
}

.green-btn {
  background: #1fb854;
  color: white;
  width: 180px;
  height: 50px;
  border-radius: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.columns {
  display: flex;
}

a:visited {
  color: white;
}
